<h5 class="mb-2" style="font-size: 22px">Soldes des comptes</h5>
<div class="row" style="margin-left: -2rem;">
  <div class="col-lg-8 col-md-12">
    <div class="row first_section">
      <div class="col-lg-6 col-sm-12">
        <div class="card scard">
          <div class="balance">
            <span>Classic Card</span> 
            <img src="assets/images/pages/dash/chip_card_white.png" alt="" class="img_top"> 
          </div>
          <div class="amount">1 883 250 <span>XOF</span> </div>
          <div class="d-flex">
            <div class="holder">
              <div class="card-holder text-muted">CARD HOLDER</div>
              <div class="name">Alban Okoby</div>
            </div>
            <div class="valid-thru">
              <span class="text-muted">VALID THRU</span> <br />
              <span>12/27</span>
            </div>
            <div class="valid-thru">
              <span class="text-muted">CVV</span> <br />
              <span>555</span>
            </div>
          </div>
          <div class="p-1 w-100">
            <div class="card-number"><span>3778 **** **** 1234 </span> <img src="assets/img/card_cercle.png" alt="" class="img_bottom">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card scard second_card">
          <div class="balance">
            <span>Gold Card</span> 
            <img src="assets/images/pages/dash/chip_card_white.png" alt="" class="img_top"> 
          </div>
          <div class="amount">7 630 250 <span>XOF</span> </div>
          <div class="d-flex">
            <div class="holder">
              <div class="card-holder text-muted">CARD HOLDER</div>
              <span class="name">Alban Okoby</span>
            </div>
            <div class="valid-thru">
              <span class="text-muted">VALID THRU</span> <br />
              <span>12/27</span>
            </div>
            <div class="valid-thru">
              <span class="text-muted">CVV</span> <br />
              <span>505</span>
            </div>
          </div>
          <div class="p-1 w-100">
            <div class="card-number">
              <span>3778 **** **** 1234 </span> 
              <img src="assets/img/card_cercle.png" alt=""
                class="img_bottom"> 
              </div>
          </div>
          <h5 class="mb pointer" style="position: absolute; right:0; top: 0; margin-top: -3rem;">Tout voir</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="row" style="margin-left: 0rem;">
      <h5 class="mb" style="font-size: 22px; margin-top: -2rem">Transactions récentes</h5>
      <div class="col-12" style="margin-top: 1.5rem">
        <div class="card ml-2">
          <div class="card-body">
            <div class="transaction-item">
              <div class="transaction-details">
                <div class="transaction-icon">
                  <img src="assets/img/transaction_paypal.png" alt="Transaction title" />
                </div>
                <div class="transaction-info">
                  <div>Virement sur Gold</div>
                  <div class="transaction-date text-info">28 January 2021</div>
                </div>
              </div>
              <div class="transaction-amount negative">- 850 XOF</div>
            </div>
            <div class="transaction-item">
              <div class="transaction-details">
                <div class="transaction-icon">
                  <img src="assets/img/transaction_other.png" alt="Transaction by paypal" />
                </div>
                <div class="transaction-info">
                  <div>Dépot Paypal</div>
                  <div class="transaction-date text-info">25 January 2021</div>
                </div>
              </div>
              <div class="transaction-amount positive">+ 2 500 XOF</div>
            </div>
            <div class="transaction-item">
              <div class="transaction-details">
                <div class="transaction-icon">
                  <img src="assets/img/transaction_card.png" alt="Transaction title" />
                </div>
                <div class="transaction-info">
                  <div>Jemi Wilson</div>
                  <div class="transaction-date text-info">21 January 2021</div>
                </div>
              </div>
              <div class="transaction-amount text-success">+ 400 XOF</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ml-3">
    <!-- Weekly activities -->
    <div class="col-lg-8 col-md-12">
      <div class="card radiused">
        <div class="card-body">
          <div class="row">
            <img src="assets/images/pages/dash/weekly_activity.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- End Weekly activities -->

    <!-- Expense stats -->
    <div class="col-lg-4 col-md-12">
      <div class="card radiused ml-1r">
        <div class="card-body">
          <div class="row">
            <img src="assets/images/pages/dash/expense_stats.png" class="w-100 h-100" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- End Expense stats -->
  </div>

  <div class="row ml-3">
    <!-- Quick transfer -->
    <div class="col-lg-4 col-md-12">
      <div class="card radiused">
        <div class="card-body">
          <div class="row">
            <img src="assets/images/pages/dash/quick_transfer.png" alt="" class="w-100 h-100">
          </div>
        </div>
      </div>
    </div>
    <!-- End Quick transfer -->

    <!-- Balance history -->
    <div class="col-lg-8 col-md-12">
      <div class="card radiused ml-1r">
        <div class="card-body">
          <div class="row">
            <img src="assets/images/pages/dash/balance_history.png" class="h-100" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- End Balance history -->
  </div>
</div>

<!-- </div> -->